<!DOCTYPE html>
<html ng-app="PDRClient">
  <head>
    <title>PDredesign</title>
    <%= stylesheet_link_tag    "pdr_client", media: "all" %>
    <%= javascript_include_tag "pdr_client" %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'pdr_client/layouts/partials/top_nav' %>
    
    <%= render 'pdr_client/layouts/partials/sidebar' %>

    <%= yield %>

    <%= render 'pdr_client/layouts/partials/footer' %>
  </body>
</html>
