<!DOCTYPE html>
<html ng-app="PDRClient">
  <head>
    <title></title>
    <%= stylesheet_link_tag    "pdr_client", media: "all" %>
    <%= javascript_include_tag "pdr_client" %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'pdr_client/layouts/partials/top_nav' %>
    <div class="container-fluid">
        <%= yield %>
        <%= render 'pdr_client/layouts/partials/sidebar' %>
    </div>
    <%= render 'pdr_client/layouts/partials/footer' %>
  </body>
</html>
