<style>
  <%= pdf_css_loader_helper %>
</style>

<div class="row">
  <div class="col-md-12">
    <h1><%= @assessment[:name] %></h1>
    <p class='byline'>Organized By:
      <%= @assessment[:organized_by] %>
    </p>
    <p class='byline'>Organized Date:
      <%= @assessment[:date] %>
    </p>
  </div>
  
  <div class="col-md-12 answer-overview-table">
    <table>
      <% iterator = 0 %>
      <% 1..5.times do |row| %>
        <tr>
          <% 1..6.times do |column| %>
            <td><%= "#{@questions[iterator][:number]} [#{question_score_value(@questions[iterator])}]" if @questions[iterator] %></td>
            <% iterator+=1 %>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="col-md-12 key-table">
    <table>
      <% answer_titles.each do |number, category_type| %>
        <tr>
          <td><%= "[#{number}]" %></td>
          <td><%= category_type %></td>
        </tr>
      <% end %>
      <tr>
        <td>[5]</td>
        <td>Skipped</td>
      </tr>
    </table>
  </div>

  <% @consensus[:categories].each do |category| %>
  <!-- Category name section  -->
  <div class="col-md-12">
    <p class="category-label">
      <i class="fa fa-chevron-right"></i>
      <%= category[:name] %>
    </p>
  </div>
    <!-- Category questions -->
    <% category[:questions].each do |question| %>
      <div class="row question-container question-<%= question[:id] %>">
        <div class="col-md-12 question-row">
          <div class="question pdf-question-number" >
            <p class="question-id">
              <%= question[:number] %>
            </p>
          </div>
          <div class="row question-content pdf-question-content">
            <div class="col-md-9">
              <p class="question">
                <%= question[:headline] %>
              </p>
              <p class="content"><%= question[:content] %></p>
            </div>

          </div>
        </div>

        <!-- Answers overview -->
        <div class="col-md-12 answers" >
          <% question[:answers].each do |answer| %>
            <div class="answer">
              <div class="left-score col-md-1" style="width: 10%;float: left;">
                <span class="score-count scored-<%= answer[:value] %>">
                <i class="fa fa-heart"></i>
                <span class="value">
                  <%= answer_count(@consensus[:scores], question[:id], answer[:value]) %>
                </span>
                <span>/<%= @consensus[:participant_count] %></span>
                </span>

              </div>

              <div
                class="col-md-11 answer-row value-color-<%= answer[:value] %>">
                <div class="answer-info-row">
                  <div class="col-md-1 scored-<%= answer[:value] %> answer-value">
                    <span><%= answer[:value] %></span>
                  </div>
                  <div class="col-md-3 answer-title title-<%= answer[:value] %>">
                    <%= answer_titles[:"#{answer[:value]}"] %>
                  </div>
                  <div class="col-md-8 answer-description">
                    <%= answer[:content] %>
                  </div>
                </div>

              </div>
            </div>

          <% end %>
        </div>


      </div>
    <% end %>

  <% end %>
</div>